.backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition-property: opacity;
	background: rgba(0, 0, 0, 0.5);
}

.backdrop-light {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition-property: opacity;
	background: rgba(255, 255, 255, 0.5);
}
