.card {
	display: flex;
	flex-direction: column;
	position: relative;
	background: #FCC438;
	width: 100%;
	padding: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	max-height: 720px;
	max-width: 100%;
	width: 100%;
}

.card-subtitle {
	margin: 12px 0 2px 0;
}

.card-link {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 25px;
	height: 25px;
}
