.social-media {
	display: flex;
}
.social-media-item {
	width: 15px;
	height: 15px;
	margin: 0 5px;
}
.social-media-item:first-of-type {
	margin: 0 5px 0 0;
}
.social-media-item:last-child {
	margin: 0 0 0 5px;
}

.social-media-large .social-media-item {
	width: 25px;
	height: 25px;
	margin: 0 10px;
}
.social-media-large .social-media-item:first-of-type {
	margin: 0 10px 0 0;
}
.social-media-large .social-media-item:last-child {
	margin: 0 0 0 10px;
}
