@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap);

:root {
  --white: #fff;
  --light-grey: #ededed;
  --dark-grey: #c4c4c4;
  --black: #000;
  --yellow: #fcc438;
}

body {
  font-family: "Open Sans", serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.no-scroll {
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--black);
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 0 16px;
  background: var(--light-grey);
}

.header .menu {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 32px;
  gap: 10px;
}

.header .menu .pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.header .menu .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header .logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  gap: 11px;
}

.header .logo .sub-header {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.84px;
  text-align: center;
}

.header .filters {
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--light-grey);
}
.header.fixed .logo,
.header.fixed .menu {
  display: none;
}

.header .filters .filter {
  position: relative;
  width: 100%;
  height: 32px;
  border: solid 1px var(--black);
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .filters .filter.selected {
  border-color: var(--yellow);
}

.header .filters .filter .label,
.header .filters .filter .icon {
  cursor: pointer;
}
.header .filters .filter .label {
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.84px;
}

.header .filters .filter .drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  left: -1px;
  width: calc(100% + 2px);
  height: 400px;
  border: solid 1px var(--black);
  background: var(--light-grey);
  z-index: 1;
}

.header .filters .filter .drawer.closed {
  display: none;
}

.header .filters .filter .drawer .search {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px 5px 10px;
  border-bottom: solid 1px var(--black);
}

.header .filters .filter .drawer .search input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: solid 1px var(--black);
  background: none;
  outline: none;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0.84px;
}

.header .filters .filter .drawer .search img {
  width: 20px;
  height: 18px;
}

.header .filters .filter .drawer .list {
  width: 100%;
  padding: 10px 15px 10px 10px;
  height: calc(100% - 40px);
  overflow: scroll;
}

.header .filters .filter .drawer .list .item-header,
.header .filters .filter .drawer .list .extra-header,
.header .filters .filter .drawer .list .item {
  background: var(--white);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.header .filters .filter .drawer .list .extra-header {
  background: none;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}


.header .filters .filter .drawer .list .item {
  font-size: 12px;
  letter-spacing: 0.84px;
}

.header .filters .filter .drawer .list .item-header {
  background: var(--dark-grey);
  font-size: 12px;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  font-weight: 800;
}

.header .filters .filter .drawer .list .item.selected {
  background: var(--yellow);
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
}

#container .item {
  width: 100%;
  padding: 16px 0;
}

#container .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container .item img {
  width: 100%;
  height: 198px;
  object-fit: cover;
  border: solid 1px var(--black);
}

#container .item .name {
  padding: 12px 0;
  gap: 5px;
}

#container .item .name .fullname {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

#container .item .name .location {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.3px;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal.open {
  display: flex;
}

#dialog {
  position: relative;
  width: 90%;
  background: var(--yellow);
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}
#dialog .link {
  position: absolute;
  top: 24px;
  right: 24px;
}
#dialog .row {
  display: flex;
  flex-direction: column;
}

#dialog .title {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

#dialog .body {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.84px;
}

#container.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 16px;
}

#container.about > * {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: normal;
}

#container.about h2 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2.24px;
  text-align: center;
}
#container.about p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.84px
}
#container.about a {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.84px;
}
#container.about a.link {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.98px;
}
#container.about p.title-image {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 8px 0;
}

/* SMALL DEVICES */
@media (min-width: 600px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 0 32px;
    background: var(--light-grey);
  }

  .header .menu {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px 0 32px;
    gap: 0;
  }

  .header .logo {
    margin-top: -5px;
  }

  #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 16px;
  }

  #container .item {
    width: calc(100% / 2);
    padding: 16px;
  }

  #container .item img {
    width: 100%;
    height: 198px;
    object-fit: cover;
    border: solid 1px var(--black);
  }

  #dialog {
    width: 444px;
  }
}

/* DESKTOP */
@media (min-width: 960px) {
  .header .filters {
    width: 960px;
    padding: 16px 32px;
    flex-direction: row;
    gap: 32px;
  }

  #container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
  }

  #container .item {
    width: calc(100% / 3);
  }

  #container .item img {
    max-width: 100%;
    height: 198px;
  }

  #container.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #container.about > * {
    width: calc( 100% / 2 );
    padding: 16px;
  }
}
